:root {
  --primary: #172A3A;
  --secondary: #004346;
  --highlight: #75DDDD;
}

.App{
  margin: auto;
  display: grid;
  place-content: center;
  height: 100%;
  background-image: url(./assets/paper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PlayerList{
  background: white;
  padding: 1rem;
  max-width: 90%;
  margin: auto;
}

.PlayerList h1 {
  padding: 1rem;
  background: var(--secondary);
  color: white;
  margin: -1rem -1rem 1rem
}

.new-player-form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: .5rem;
  max-width: 90%;
  box-sizing: border-box;
}

input[type=text], input[type=number] {
  box-sizing: border-box;
  padding-left: 0.5rem;
  border: 2px solid #eee;
  font-size: 1rem;
}

.player-list{
  height: 12rem;
  overflow-y: auto;
}

.player-item{
  padding: .5rem .5rem .5rem 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 70px auto;
  box-sizing: border-box;
  grid-gap: .5rem;
  align-items: center;
}

.player-item input {
  padding: 1rem
}

.player-item:nth-child(2n){
  background: #eee;
}

.player-name{
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr{
  background: var(--primary);
  border: var(--primary) solid 1px;
}

.button-actions{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-actions .btn {
  margin-right: 1rem;
  margin-top: .5rem;
}

.button-actions .btn:last-child{
  margin-right: 0;
}

.btn{
  padding: 1rem 1.4rem;
  border: var(--primary) solid 2px;
  color: var(--highlight);
  background: var(--secondary);
  font-size: 1rem;
  font-weight: bold;
}

.btn:hover, .btn:focus, .btn:active{
  background: white;
  color: var(--primary);
  cursor: pointer;
}

.btn:disabled{
  background: #eee;
  color: #999;
  border-color: #aaa;
  cursor: not-allowed;
}

.init-buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.init-buttons.beyond .btn:first-child{
  margin-right: .5rem;
}

.missing-player-notification{
  width: 70%;
  margin-left: 15%;
  position: absolute;
  bottom: 1rem;
  text-align: center;
  background: var(--primary);
  color: white;
  font-size: 1rem;
  padding: .5rem;
}

@media screen and (min-width: 700px){
  .missing-player-notification{
    max-width: 250px;
    margin-left: calc(50% - 125px - .5rem);
    bottom: 10%;
  }
}